<!DOCTYPE html>
<html>
<head>
  <title>Gaming Blog Platform</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav>
  <%= link_to 'Home', root_path, class: 'button' %> |
  <% if user_signed_in? %>
  <p class='user'>
    Logged in as <%= current_user.email %> </p> |
    <%= link_to 'My Profile', user_profile_path, class: 'button' %> |
    <%= link_to 'Logout', destroy_user_session_path, class: 'button' %>
  <% else %>
    <%= link_to 'Sign Up', new_user_registration_path,class: 'button' %> |
    <%= link_to 'Login', new_user_session_path,class: 'button' %>
  <% end %> |
 <%= link_to 'Categories', categories_path, class: 'button' %>
 </nav>
 <div class='content'> <%= yield %> </div>
 
</body>
</html>
